name: digital_sundhed_3_ugers
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  mdsflutter: ^2.3.1
  movesense_plus: ^1.0.0
  geolocator: ^14.0.2
  url_launcher: ^6.3.2
  sembast: ^3.8.6
  path_provider: ^2.1.0
  permission_handler: ^12.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0


flutter:

  uses-material-design: true
  assets:
    - assets/images/